
<div class = 'container'>
<br><%=@a%>
<br><%= @file_url %>
<br> <%=  @file_srt_url%>
<br><%= $size_pdf%>
<br <%= @z%>>
<%= link_to 'new', {:action => 'new_line'} %>
     <div id="file_show"></div>
      