<style>
  body {
    background-image: url(<%= asset_path("bg-3.jpg") %>); 
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
</style>

<body>
  <div id="header2"></div>
  <%= render "layouts/flash" %>

 <div class = "p-5">
    <div class='p-2'>
      <div class="form-container">
        <br><p>File Upload</p>
        <%= form_with url: "uploadJob" do |form| %>
        <%= form.label :query, "Upload File:" %>
        <%= form.file_field :file, direct_upload: true %>
        <%= form.submit %>
        <% end %>
        <p>See the uploaded files <a href= "/file/files"> Here .</a></p>
      </div>
    </div>
  </div>
</body>
