
<p>Hello <%= $name%>

    <div class='container'>
              
         <p>Use for single and multiple urls shortening
         <%= form_tag :action => 'multi_line' do %> 
              <textarea  rows="2" cols="70" name="multi_url"></textarea>
         <%= submit_tag "Create" %>   
         <% end %> <br>
   <p>note: Use ',' to seperate between multiple url's.</p>
    <br><p><%= @reply %> 
    
    <br><p>File Upload</p>

  <form action="file">
     <input type="file" id="myFile" name="myFile">
     <input type="submit">
  </form>
   <br><%=  $error101%>
   
   
  <br><%= link_to 'logout', {:action => 'index'} %>
  <br><%= link_to 'refresh', {:action => 'new'} %>
  </div>

  </body>
