<div id="header2"></div>
<body>
    <%= render "layouts/flash"%>
    <div class='p-2'>
         <%= form_tag :action => 'multi_line' do %> 
              <textarea  rows="2" cols="70" name="multi_url" placeholder="Use for single and multiple urls shortening" ></textarea><br>
        <button type="submit" class= "button" >create</button>
         <% end %> 
         <br><p>note: Use comma ( , ) to seperate between multiple url's.</p>
          </div>
    <div class="container">
      <div class= "p-3">
    <br><p>File Upload</p>

   <%# <form action="file">
     <input type="file" id="myFile" name="myFile">
  
     <p><button type="submit" class= "signupbtn" >Upload</button>
  </form> %>
 <%= form_with url: "file" do |form| %>
 <%= form.label :query, "Upload File:" %>
  <%= form.file_field :file, direct_upload: true %>
  <%= form.submit %>
<% end %>
  </div>
  <%# <%= $f_url %>
  <%# <%= $csv %> 
  </body>
