<body>
<ul>
  <li><h1>URL Shortener</h1></li>
  <li style="float:right"> <a href="/user/login">
            <button class="btn btn-outline-primary" type="button">Logout</button>
          </a></li>
</ul>

    <%= render "layouts/flash"%>
    <div class='container'>
  
              
         <p>Use for single and multiple urls shortening
         <%= form_tag :action => 'multi_line' do %> 
              <textarea  rows="2" cols="70" name="multi_url"></textarea>
         <%= submit_tag "Create" %>   
         <% end %> <br>
   <p>note: Use comma ( , ) to seperate between multiple url's.</p>
    <br><p><%= @reply %> 
    
    <br><p>File Upload</p>

  <form action="file">
     <input type="file" id="myFile" name="myFile">
     <input type="submit">
  </form>
   <br><%=  $error101%>
  </div>

  </body>
