<style>
  body {
    background-image: url(<%= asset_path "bg-4.jpg" %>);
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
    .white-box {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .loader {
  width: 48px;
  height: 12px;
  background: #56dadf;
  margin-top: 40px;
  display: inline-block;
  position: relative;
}
.loader::after {
  content: '';  
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #56dadf;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}
.loader::before {
  content: '';  
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 20px;
  background: #56dadf;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}
    
</style>
 <div id="header2"></div>
<body>
    <%= render "layouts/flash" %>
  <div class="p-3">
    <h1 align="center">QR code generator</h1>
  </div>

  <div class="block">
    <div class="form-container">
      <%= form_tag :action => 'qr_code' do %>
        <%= label_tag 'Enter the URL' %>
        <%= text_field_tag name="url" %>

        <div class="actions">
          <%= submit_tag 'Generate QR code' %>
        </div>
      <% end %>
    </div>
  </div>

  <% if $url.present? %>
    <% if @flag != false %>
     <div class="qr-block">
     <div class= "con-qr">
       <%= raw (@svg) %>
       <br>
       <br>
        <h4>The Shortened URL is:</h4>
            <div class="row white-box" id="short" value="<%= $shortened_url_qr %>">
              <%= $shortened_url_qr %>
            </div>
             <br>
            <button class="btn btn-outline-primary" onclick="copyText('<%= $shortened_url_qr %>')">Copy The Link</button>
            <br>
            <br>
        <div class="download-button">
         <%= form_tag :action => 'qr_code_download' do %>
           <div class="field">
             <%= hidden_field_tag name="url" %>
              <button style = "background-color: transparent"type= "submit"><span class="loader"></span></button>
           </div>
          <% end %>
           <% else %>
           <div class="block-2">
               <div class= "con-qr p-3">
                   <p>Couldn't Generate QR code For the given Input.</p>
              </div>
           </div>
          <% end %>
      </div>
    </div>
  </div>
  <% else %>
   <div class="block-2">
     <div class= "con-qr p-3">
       <p>The QR code will appear here. You can download it from here.</p>
     </div>
   </div>
  <% end %>
</body>
<script>
    function copyText(shortenedUrl) {
      var inputField = document.createElement("input");
      document.body.appendChild(inputField);
      inputField.setAttribute('value', shortenedUrl);
      inputField.select();
      document.execCommand('copy');
      document.body.removeChild(inputField);
      alert("Copied the text: " + shortenedUrl);
    }
  </script>
