
  <style>
     body {
      background-image: url(<%=  asset_path"bg-5.jpg" %>); 
      background-size: cover;
      background-position: center center;
      height: 100vh;
    }
    .white-box{
  background-color: white;
  border: 1px solid black;
 padding: 10px;
 border-radius: 5px;
 margin-left: 5px;
 margin-right:5px;
}
</style>
<div id="header2"></div>
<body>
  <%= render "layouts/flash" %>
<div class='container'>

 <div class ='p-1 '>
<% n=0 %>
  <% @short_url.each do |short_url| %> 
        <div class ='box-1'>
          
      <div class ='container'>
          The Original URL is: 

          <div class= "row white-box">
          <%= short_url.original_url %></div>
        
          The Shortened URL is :
          <div class="row white-box" id="short<%= n+1 %>" value="<%= short_url.shortened_url %>">
          <%= short_url.shortened_url %>
          </div>
          <br>
          <button class="btn btn-outline-primary" onclick="copyText('<%= short_url.shortened_url %>')">Copy</button>
            
      </div>
      </div>
           <% end %>
          
      </div>
      <script>
 function copyText(shortenedUrl) {
    var inputField = document.createElement("input");
    document.body.appendChild(inputField);
    inputField.setAttribute('value', shortenedUrl);
    inputField.select();
    document.execCommand('copy');
    document.body.removeChild(inputField);
    alert("Copied the text: " + shortenedUrl);
  }
      </script>
 </body>

