
<style>
        /* body {
             background-color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 250px;
        } */
        </style>
    
        <body>

<h4>Your new url is given below</h4>

<div class='container'>

<p> The original url  : <%= text_field_tag 'The original url ', @original_url, class: 'custom-class', style: 'width: 500px';  %>

<p> The shortened url : <%= text_field_tag 'The shortened url ', @shortened_url, class: 'custom-class', style: 'width: 500px'; %>
<div id="body"></div>
<p>Url status : <%= @reply %> 

 <p><%= @dis %> 
 <p><%= @notice %> 
 <p><%= @dis1%>

 <p><%= link_to 'Back', {:action => 'new'} %>
 </body>
 </div>

