<!DOCTYPE html>
<html>
<style>

.con {
  margin: 50px 50px;
}

 .filter-form {
  width:20%;
  float: right;
  }

.l {
  border-collapse: collapse;
  width:100%;
}

.l th{
   border: 2px solid #ddd;
  padding: 10px;
  text-align:center;
}

.l td{
  border: 2px solid #ddd;
  padding:30px;
max-width: 50px;
overflow: hidden;
}

.l tr{
  background-color: #ffffcc;
  color: black;
}
</style>
<div id="header2"></div>
<body>
        


      <div class="filter-form">
          <p><form action="<%= home_view_path %>" method="get">
      <label for="order">Order:</label>
      <select name="order" id="order">
        <option>-select-</option>
         <option value="desc">Latest</option>
        <option value="asc">Oldest</option>
      </select>
      <input type="submit" value="Apply Filter">
    </form></p>
    <p><%= link_to "Download PDF file", home_view_path(format: 'pdf') %></p>
    </div>
      <% if @short_url.present? %>
    <div class="con">
         <div class="pagination">
     <% if @page != 0 %>
  <a href="<%= home_view_path(page: @page - 1) %>">Previous</a>
    <% end%>
  <a href="<%= home_view_path(page: @page+ 1) %>">Next</a>
</div>
<table class= "l">    
  <thead> 
   <p> User Name:<%= @user_details.name%></p>
   <p> User ID: <%= @user_details.id%></p>
  <tr>   
        <th>Sl.no</th>
        <th>Original Url</th>   
        <th>Shortened Url</th>   
        <th>Created Date</th>   
          
      </tr>   
      </thead>
         <% count= 0 %>
      <tbody> 
       <% @short_url.order(created_at: params[:order] || 'desc').each do |short_url| %>
          <tr>   
            <td><%= count+=1%></td>
            <td><%= short_url.original_url %></td>   
            <td id = "copy" value = <%= short_url.shortened_url %> >
            <a href=<%= short_url.shortened_url%> target="_blank" rel="noopener noreferrer" >
            <%= short_url.shortened_url %></a>
            <button class="button-2" onclick="handleCopy()">copy</button>
            </td>   
            <td><%= short_url.created_at%></td>                 
           </tr>   
      <% end %>   
            </tbody>

      </table>
      </div>
      <% else %>
      <div class= "center" >
      <p>No Urls</p>
      </div>
      <%end%>
      </body>
       <script>
        function handleCopy()
        {
          var copyText = document.getElementById("short_url");
          copyText.select();
          copyText.setSelectionRange(0, 99999);
          navigator.clipboard.writeText(copyText.value);
  
        }
      </script>
</html>

