<style>
    body {
      background-image: url(<%= asset_path "bg-4.jpg" %>);
      background-size: cover;
      background-position: center center;
      height: auto;
    }
     .white-box {
    background-color: white;
    width: 150px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

   .l-1 {
      border-collapse: collapse;
      width: auto;
      margin-left: 50px;
    }

    .l-1 th {
      background-color: #0582ca;
      border: 2px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    .l-1 td {
      border: 2px solid #ddd;
      padding: 30px;
      overflow: hidden;
      text-align: center;
    }

    .l-1 tr {
      background-color: #00a6fb;
      color: black;
    }
    .digg_pagination {
    background: transparent;
    cursor: default;
    /* self-clearing method: */
  }

  .digg_pagination a,
  .digg_pagination span,
  .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }

  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }

  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }

  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
  }

  .digg_pagination a:hover,
  .digg_pagination a:focus {
    color: #000033;
    border-color: #000033;
  }

  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
  }

  .digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
  }

  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  * html .digg_pagination {
    height: 1%;
  }

  *:first-child+html .digg_pagination {
    overflow: hidden;
  }
</style>
<body>
<div id="header2"></div>
         <div class="form-container" style="background-color: #0582ca">
            <span style="text-align: center">
                <h4>Files You have Shortened in <%= @date %> </h4>
             </span>
        </div>
        <% if @file.present? %>  
        <div class="form-container"> 
               <% @file.each do |file| %>   
               <input class="row white-box" id="date" name="date" value= " <%= file.name %>" readonly >
               <br>
                <% end %>
                 </div>
                  <% else %>
        <div class="form-container"> 
                <p>No Files Have been processed in this day.</p>
                 </div>
         <%end%>
          <% if @group_by_date.present? %>  
          <div class="digg_pagination">
      <%= will_paginate @group_by_date, renderer: WillPaginate::ActionView::LinkRenderer %>
    </div>
          <center>
                <table class="l-1">
          <tr>
            <th>Sl No</th>
            <th>Original Url</th>
            <th>Shortened Url</th>
          </tr>
          <% count = 0 %>
          <tbody>
            <% @group_by_date.order(created_at: params[:order] || 'desc').each do |short_url| %>
              <tr>
                <td><%= count += 1 %></td>
                <td><%= short_url.original_url %></td>
                <td id="copy" value=<%= short_url.shortened_url %>><a href=<%= short_url.shortened_url %>
                    target="_blank" onclick="copyText('<%= short_url.shortened_url %>')"><%= short_url.shortened_url %></a></td>
              </tr>
            <% end %>
          </tbody>
                  </table>
                  </center>
          <% else %>
          <div class="form-container"> 
                <p>No Single or multiple Urls have been processed in this day.</p>
                 </div>
          <% end %>
       
</body>
<script>
    function copyText(shortenedUrl) {
      var inputField = document.createElement("input");
      document.body.appendChild(inputField);
      inputField.setAttribute('value', shortenedUrl);
      inputField.select();
      document.execCommand('copy');
      document.body.removeChild(inputField);
      alert("Copied the text: " + shortenedUrl);
    }
  </script>