
   <div class="container">
    <h1> Sign Up </h1>
    
 <%= form_tag :action => 'create' do %>

 <label for="name"></label><br>
      Name: <input class="shortInput" name="name"  type="text"><br>
 
        <label for="email"></label><br>
      Email: <input class="shortInput" name="email"  type="text"><br>

        <label for="password"></label><br>
      Password: <input class="shortInput" name="password" type="text"><br>

        <label for="confirmPassword"></label><br>
      Confirm password: <input class="shortInput" name="password_confirmation" type="text"><br>

         <br> <%= submit_tag "Create" %>

          <p>Account status : <%= @msg %>
          <h4><p><%= @dis %></h4>
 

           <%= link_to 'Back', controller: :home, action: :index %>
 <% end %>
 </div>
