<!DOCTYPE html>
<html>
  <head>
  </head>
    <title>URL Shortener</title>
       <style>

body {
             background-color: black;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 250px;
        }
        
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
        input[type="text1"] {
            width: 80%;
            padding: 10px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
  
button {
  background-color: white;
  color: black;
  border: none;
}

button:hover {
  opacity:1;
}
.signupbtn {
 padding: 1px 1px;
  background-color: #fff;
}

.loginbtn {
  padding: 1px 1px;
  background-color: #f44336;
}

.loginbtn, .signupbtn {
  float: center;
  width: 15%;
}

.dropbtn {
  text-align: center;
  background-color: transparent;
  border-radius:10px;
  padding: 5px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.5s  ease;
}

.dropbtn:hover{

    color: var(--bs-dropbtn-hover-color);
    background-color: var(--bs-dropbtn-hover-bg);
    border-color: var(--bs-dropbtn-hover-border-color);
  
}


.dropbtn-outline-primary {
 --bs-dropbtn-color: #000000;
  --bs-dropbtn-border-color: transparent;
  --bs-dropbtn-hover-color: #fff;
  --bs-dropbtn-hover-bg: #56dadf;
  --bs-dropbtn-hover-border-color: black;
  --bs-dropbtn-focus-shadow-rgb: 25, 135, 84;
  --bs-dropbtn-active-color: #fff;
  --bs-dropbtn-active-bg: #46bff7;
  --bs-dropbtn-active-border-color: transparent;
  --bs-dropbtn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dropdown {
  position: relative;
  display: inline-block;
   float:right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: transparent}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.topnav {
  position: relative;
 background-color:#eeeda5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.partition {
            width: 50%;
            height: 20vh; 
            /* border: 1px solid #ccc; */
            padding:20px;
        }

.block{
  width: 40%;
  height: 500px;
  margin:20px auto;
  background-image: url(<%= asset_path 'bg-1.jpg' %>);
  float:left;
}


.block-2{
   width: 40%;
  height: 600px;
  margin: 20px auto;
  float:right;
}


.login-container {
            text-align: center;
            padding: 15px;
         margin: 20%;
         background-color: yellow;
         border-radius: 7px;
            }


.p {
  font-family: verdana;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height :auto;

}

.p-1 {
  font-family: verdana;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height :70vh;
}

.p-2{
  font-family: verdana;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height :40vh;
}

.p-3{
 font-family: verdana;
  font-size: 20px;
  /* display: flex; */
  align-items: left;

}

.p-4{
  font-family: verdana;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.box-1{
  text-align: left;
  height: 300px;
  width: 500px;
  background-color: #a9cfe9a1;
}

.box{
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 500px;
  border: transparent solid rgb(82, 127, 224);
  padding: 35px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.5s  ease;
}

.box:hover{

    color: var(--bs-box-hover-color);
    background-color: var(--bs-box-hover-bg);
    border-color: var(--bs-box-hover-border-color);
    box-shadow:0 0 10px 5px #46bff7;
}

.box-outline{
  --bs-box-color: #000000;
  --bs-box-border-color: transparent;
  --bs-box-hover-color: #fff;
  --bs-box-hover-bg: #46bff7;
  --bs-box-hover-border-color: #46bff7;
  --bs-box-focus-shadow-rgb: 25, 135, 84;
  --bs-box-active-color: #fff;
  --bs-box-active-bg: #46bff7;
  --bs-box-active-border-color: transparent;
  --bs-box-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

ul {
  list-style-type: none;
  padding:0.5rem;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
   padding:0.5rem;
}

.password{
  padding: 0px 10px;
  display: inline-block;
  position: relative;
  border: transparent;
  width: auto;
}

.pass-field{
  padding: 15px 5px;
  outline: none;
  border: 0;
  width: auto;
}


.pass-icon{
  position: absolute;
  top: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;

}

 </style>


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Following will make the react components availabe to our layout -->
      <%= javascript_pack_tag 'application' %>
      <%= javascript_pack_tag "hello_react" %>
      <%= javascript_pack_tag "count" %>  
      <%= javascript_pack_tag "copy_url" %>  
      <%= javascript_pack_tag "show"%> 
      <%= javascript_pack_tag "Header3" %>
 <%= javascript_pack_tag "Login" %>
    <body >

       <%= yield %>
       
    </body>
</html>